<!DOCTYPE html>
<html>
<head>
	<title></title>
	<base href="/divyesh-test/">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/angular-material.css">
	<!-- <link rel="stylesheet" href="https://material.angularjs.org/1.1.9/docs.css"> -->
	<link rel="stylesheet" href="assets/css/style.css">


	<script src="assets/js/angularjs/angular/angular.min.js"></script>
	<script src="assets/js/angularjs/angular/angular-cookies.min.js"></script>
	<script src="assets/js/angularjs/angular/angular-ui-router.min.js"></script>
	<script src="assets/js/angularjs/angular/angular-animate.min.js"></script>

	<script src="assets/js/angularjs/angular/angular-aria.min.js"></script>
	<script src="assets/js/angularjs/angular/angular-messages.min.js"></script>
	
	<!-- Angular Material Library -->
	<script src="assets/js/angularjs/angular-material/svg-assets-cache.js"></script>
	<script src="assets/js/angularjs/angular-material/angular-material.min.js"></script>

	<script src="assets/js/corejs/app.js"></script>
	<script src="assets/js/corejs/Controller/projectsController.js"></script>
	<script src="assets/js/corejs/Controller/tasksController.js"></script>
	<script src="assets/js/corejs/Controller/loginController.js"></script>
</head>
<body ng-app="TestApp">
	<div class="mainHeader" ng-if="userdata">
		<div class="header">
			<div ng-if="userdata.first_name">
				<md-button class="pull-right" ng-click="logout()">Logout</md-button>
			</div>
			<div class="welcomeSection">Welcome {{userdata.first_name}}</div>
		</div>
	</div>
	<div class="viewClass" ui-view>
		
		
	</div>
</body>
</html>